@model IEnumerable<AnhPhatMVC.Data.TAIKHOAN>

@{
    ViewBag.Title = "QuanLyTaiKhoan";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>QuanLyTaiKhoan</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HOTEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MATKHAU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAYCAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QUYEN)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HOTEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MATKHAU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAYCAP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QUYEN)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
