@model IEnumerable<AnhPhatMVC.Context.service>

@{
    ViewBag.Title = "Service";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>Service</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.caption_vn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.caption_en)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.describe_vn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.describe_en)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.detail_vn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.detail_en)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.caption_vn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.caption_en)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.describe_vn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.describe_en)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.detail_vn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.detail_en)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.image)
        </td>      
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
